* {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    color: #ed8b03;
    height: 100%;
}

.main-container {
   width: 90%;
   margin: auto;
}

.main-container > h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1.5rem;
}

.round-container {
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
}

.options-container {
    color: #ff9102;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem auto;
    text-align: center;
    width: 60%;
}

.option {
    font-size: 5rem;
    padding: 0.8rem;
}

.option:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.player-container,
.cpu-container {
    margin: 10px;
}

.player-container {
    color: #03a3ed;
}

.cpu-container {
    color: #9f03ed;
}

.player-score-container,
.cpu-score-container {
    text-align: center;
    padding: 2rem;
}

.player-options-container,
.cpu-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background: #dfdfdf;
    border: 1px solid black;
}

.game-over-container {
    background-color: #cfcfcf;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    justify-content: center;
}

.game-over-menu {
    font-size: 3rem;
    text-align: center;
}

.play-again {
    font-size: 0.5em;
    padding: 1rem;
    margin-top: 1.3rem;
}

.play-again:hover {
    cursor: pointer;
}