* {
    margin: 0;
    padding: 0;
}

body {
    background: #007690;
    font-family: 'Roboto', sans-serif;
}

.main-container {
   width: 70%;
   margin: auto;
}

.round-container {
    text-align: center;
}

.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 90%;
}

.option {
    font-size: 4rem;
    padding: 0.8rem;
}

.option:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.player-container,
.cpu-container {
    
    margin: 10px;
    
}

.player-score-container,
.cpu-score-container {
    text-align: center;
    padding: 2rem;
}

.player-options-container,
.cpu-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background: #dfdfdf;
    border: 1px solid black;
}